<div class="article-list-box">
    <div class="bar">
        <button (click)="chengStatus('isReview')" [class.active]="status=='isReview'">未审核</button>
        <button (click)="chengStatus('all')" [class.active]="status=='all'">所有</button>
        <button (click)="chengStatus('isDestroy')" [class.active]="status=='isDestroy'">已删除</button>
    </div>
    <ul class="article-list" *ngIf="list&& list[0]">
        <li *ngFor="let item of list">
            <div class="profiles">
                <h3 (click)="goNext(item.id)">{{item.title}}</h3>
                <p>{{item.abstract | slice: 0:120}}</p>
                <div class="additional">
                    <p class="author">From:{{item.authorName}} - {{item.createdAt | amDateFormat:'LL'}}</p>
                    <p class="views">{{item.readTotal}}views / {{item.commentTotal}}comments</p>
                </div>
            </div>
            <div class="check">
                <div class="status">
                    <p>{{statusMap(item.articleType)}}</p>
                    <div class="status-button" *ngIf="item.checkShow">
                        <button (click)="review(item.id, 'isReview')">未审核</button>
                        <button (click)="review(item.id, 'isActive')">已审核</button>
                        <button (click)="review(item.id, 'isDestroy')">删除</button>
                    </div>
                </div>
                <div class="control">
                    <button (click)="item.checkShow=!item.checkShow">{{controlStatusShow? '返回': '标记状态'}}</button>
                </div>
            </div>

        </li>
    </ul>
</div>
