.tags-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	background: #ccc;
}
.tags{
	width: 50%;
	min-width: 250px;
	max-width: 600px;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 105;
	background: #fff;
}
.tags-content {
	width: 100%;
	margin-top: 35px;
	padding: 0 15px;
	font-family: "futura-pt",sans-serif;
	font-weight: 300;
	.input-box {
		width: 100%;
		height: 45px;
		position: relative;
		>input {
			width: 80%;
			border: none;
			border-bottom: 1px solid #EEEEEE;
			padding-left: 5px;
			height: 45px;
			line-height: 45px;
			font-size: 22px;
			&:focus, &:active {
				outline: none;
			}
		}
		>span {
			position: absolute;
			top: 100%;
			left: 0;
			font-size: 13px;
			color: #ccc;
		}
	}
	.tags-render {
		width: 100%;
		padding: 45px 0 65px 30px;
		>.box {
			border-radius: 2px;
			border: 1px solid #4DCCC1;
			float: left;
			margin-right: 45px;
			margin-bottom: 20px;
			color: #4DCCC1;
			position: relative;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			p {
				font-size: 16px;
				padding: 0 20px;
				line-height: 30px;
				float: left;
				cursor: auto;
			}
			span {
				position: absolute;
				left: 100%;
				top: 0;
				font-size: 18px;
				line-height: 30px;
				padding-left: 5px;
				padding-top: 5px;
				cursor: pointer;
				&:before {
					content: "\e62d";
				}
			}
		}
	}
}
.tags-bar {
	width: 100%;
	height: 45px;
	overflow: hidden;
	>button {
		width: 20%;
		min-width: 100px;
		max-width: 200px;
		float: right;
		border: none;
		padding: 0;
		text-align: center;
		line-height: 45px;
		background: #4FC281;
		border-radius: 0;
		color: #fff;
		&.close {
			background: #FCFCFC;
			color: #ccc;
		}
		&:focus, &:active {
			outline: none;
		}
	}
}