
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1486194097473'); /* IE9*/
  src: url('./iconfont.eot?t=1486194097473#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1486194097473') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1486194097473') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1486194097473#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shape9:before { content: "\e62d"; }

.icon-biaoti:before { content: "\e637"; }

.icon-iconfonth:before { content: "\e607"; }

.icon-yulan:before { content: "\e61b"; }

.icon-biaoti2:before { content: "\e665"; }

.icon-yulan2:before { content: "\e66f"; }

.icon-xietiim:before { content: "\e643"; }

.icon-jiacu1:before { content: "\e624"; }

.icon-image:before { content: "\e6f5"; }

.icon-insert_tag_field:before { content: "\e6f7"; }

.icon-link:before { content: "\e701"; }

.icon-quotation_marks:before { content: "\e715"; }

.icon-richtextbulletedlist:before { content: "\e71a"; }

.icon-richtextnumberedlist:before { content: "\e71b"; }

