<div class="write">
    <div class="write-submit">
        <button (click)="submit()">发表</button>
        <button (click)="addImages()">题图</button>
        <button (click)="addImages()">话题</button>
    </div>

    <div class="write-title">
        <input type="text" placeholder="补全标题" [(ngModel)]="titleValue">
    </div>

    <app-article-editor [text]="field" (mdChange)="mdChange($event)"></app-article-editor>
    <!--<div class="write-tags">-->
        <!--<div class="write-tags-box">-->
            <!--<input type="text">-->
            <!--<button>ADD</button>-->
        <!--</div>-->
        <!--<ul class="write-tags-view">-->
            <!--<li>-->
                <!--心标签-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</div>