.article-list-box {
	width: 90%;
	max-width: 950px;
	min-width: 500px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}
ul.article-list{
	width: 100%;
	height: auto;
	>li {
		width: 100%;
		height: 195px;
		border-bottom: 1px solid #E6E6E6;
		padding: 22px 0;
		font-family: -apple-system, "Hiragino Sans GB", "Hiragino Sans GB W3", Helvetica, "Microsoft YaHei", sans-serif;
		&:last-child {
			border-bottom: none;
		}
		.profiles {
			width: 65%;
			height: 100%;
			float: left;
			position: relative;
			padding-right: 12px;
			&.no-thumbnail {
				width: 100%;
			}
			h3 {
				font-size: 24px;
				font-weight: normal;
				line-height: 30px;
				color: #333;
				margin-bottom: 8px;
				cursor: pointer;
				-webkit-transition: all 0.15s;
				-moz-transition: all 0.15s;
				-o-transition: all 0.15s;
				transition: all 0.15s;
				&:hover {
					color: #458fd2;
				}
			}
			p {
				font-size: 15px;
				color: #828181;
			}
			.additional {
				position: absolute;
				padding-right: 12px;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				overflow: hidden;
				p.author {
					float: left;
					font-size: 14px;
					color: #c7c7c7;
				}
				p.views {
					float: right;
				}
			}
		}
		.thumbnail {
			width: 35%;
			height: 100%;
			float: right;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}



// mobile
.mobile-article-list {
	width:100%;
	height: auto;
	margin: 0 auto;
	padding: 0 8px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	>ul{
		width: 100%;
		>li {
			width: 100%;
			height: auto;
			border-bottom: 1px solid #E6E6E6;
			padding: 15px 0;

			h3 {
				font-size: 18px;
				font-weight: normal;
				line-height: 20px;
				color: #4094C7;
				margin-bottom: 5px;
				cursor: pointer;
			}
			p {
				font-size: 13px;
			}
			.mobile-article-list-additional {
				padding-top: 10px;
				width: 100%;
				overflow: hidden;
				color: #9ba9b5;
				p.author {
					float: left;
					font-size: 12px;
				}
				p.views {
					float: right;
					font-size: 12px;
				}
			}
		}
	}
}
















