<!--<app-breadcrumb></app-breadcrumb>-->
<div class="article-list-box">
    <ul class="article-list" *ngIf="list&& list[0]">
        <li *ngFor="let item of list" (click)="goNext(item.id)">
            <div class="top">
                <img src="http://static.wittsay.cc/default_bg.jpeg" alt="" class="thumbnail">
                <img src="http://static.wittsay.cc/default_photo.png" alt="" class="avatar">
            </div>
            <div class="bottom">
                <h3>{{item.title}}</h3>
                <p>{{item.createdAt | amTimeAgo:true}} {{item.authorName}}</p>
            </div>
        </li>
    </ul>
</div>
