<div class="article-list-box" *hideItBootstrap="['xs']">
    <ul class="article-list" *ngIf="list&& list[0]">
        <li *ngFor="let item of list">
            <div class="profiles" [class.no-thumbnail]="!item.thumbnail">
                <h3 (click)="goNext(item.id)">{{item.title}}</h3>
                <p>{{item.abstract | slice: 0:150}}</p>
                <div class="additional">
                    <p class="author">From:{{item.authorName}} - {{item.createdAt | amDateFormat:'LL'}}</p>
                    <p class="views">{{item.readTotal}}views / {{item.commentTotal}}comments</p>
                </div>
            </div>
            <div class="thumbnail" *ngIf="item.thumbnail">
                <img [src]="item.thumbnail" alt="">
            </div>
        </li>
    </ul>
    <app-pagination [page]="activePage" (next)="pageNext($event)"></app-pagination>
</div>

<div class="mobile-article-list" *xs>
    <ul *ngIf="list&& list[0]">
        <li *ngFor="let item of list">
            <h3 (click)="goNext(item.id)">{{item.title}}</h3>
            <p>{{item.abstract | slice: 0:100}}</p>
            <div class="mobile-article-list-additional">
                <p class="author">{{item.authorName}} - {{item.createdAt | amDateFormat:'LL'}}</p>
                <p class="views">{{item.readTotal}}views</p>
            </div>
        </li>
    </ul>
    <app-pagination></app-pagination>
</div>