<!--<app-breadcrumb></app-breadcrumb>-->
<div class="article-list-box">
    <ul class="article-list" *ngIf="list&& list[0]">
        <!--<li *ngFor="let item of list" (click)="goNext(item.id)">-->
            <!--<div class="top">-->
                <!--<img src="http://static.wittsay.cc/default_bg.jpeg" alt="" class="thumbnail">-->
                <!--<img src="http://static.wittsay.cc/default_photo.png" alt="" class="avatar">-->
            <!--</div>-->
            <!--<div class="bottom">-->
                <!--<h3>{{item.title}}</h3>-->
                <!--<p>{{item.createdAt | amTimeAgo:true}} {{item.authorName}}</p>-->
            <!--</div>-->
        <!--</li>-->
        <li *ngFor="let item of list">
            <div class="profiles" [class.no-thumbnail]="!item.thumbnail">
                <h3 (click)="goNext(item.id)">{{item.title}}</h3>
                <p>{{item.abstract | slice: 0:150}}</p>
                <div class="additional">
                    <p class="author">From:{{item.authorName}} - {{item.createdAt | amDateFormat:'LL'}}</p>
                    <p class="views">{{item.readTotal}}views / {{item.commentTotal}}comments</p>
                </div>
            </div>
            <div class="thumbnail" *ngIf="item.thumbnail">
                <img [src]="item.thumbnail" alt="">
            </div>
        </li>
    </ul>
</div>
