.write {
	//width: 1200px;
	//margin: 0 auto;
}
.write-title {
	border-bottom: 2px solid #DDD;
	height: 40px;
	//margin-bottom: 15px;
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	input {
		border: none;
		line-height: 1.4;
		width: 100%;
		color: #3D596D;
		font-size: 26px;
		padding: 0 8px;
		background: transparent;
		&:focus, &:active {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #808080;
		}
	}
}

.write-submit {
	margin-bottom: 40px;
	overflow: hidden;
	margin-left: -12px;
	button {
		width: 110px;
		height: 35px;
		line-height: 30px;
		border: none;
		border-left: 2px solid #DDD;
		color: #3D596D;
		background: transparent;
		border-radius: 0;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		text-align: left;
		font-size: 20px;
		float: left;
		&:focus, &:active {
			outline: none;
		}
		&:hover {
			border-left: 5px solid #DDD;
		}
	}
}

.write-tags {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.write-tags-box {
	width: 210px;
	height: 33px;
	overflow: hidden;
	float: left;
	border: 1px solid #DDD;
	>input {
		float: left;
		width: 60%;
		height: 33px;
		border: none;
		padding-left: 5px;
		font-size: 16px;
		background: transparent;
		&:focus, &:active {
			outline: none;
		}
	}
	>button {
		float: right;
		border: none;
		height: 33px;
		width: 40%;
		padding: 0;
		font-size: 14px;
		border-radius: 0;
		border-left: 1px solid #DDD;
		&:focus, &:active {
			outline: none;
		}
	}
}
.write-tags-view {
	float: left;
	padding-left: 10px;
	&:before {
		content: 'Tags: ';
		float: left;
		font-size: 16px;
		line-height: 33px;
	}
	>li {
		float: left;
		height: 33px;
		line-height: 33px;
		font-size: 16px;
		color: #3D596D;
	}
}