<div class="recommend">
    <div class="bar">
        <button (click)="showAlert=true">添加推荐</button>
    </div>
    <div class="tips" *ngIf="!option|| !option.recommended|| option.recommended.length == 0">
        暂未添加推荐文章
    </div>
    <ul class="recommend-list" *ngIf="option&& option.recommended">
        <li *ngFor="let item of option.recommended">
            <div class="detail">
                <h3>{{item.title}}</h3>
                <p>{{item.authorName}} {{item.createdAt | amDateFormat:'LL'}}</p>
            </div>
            <div class="delete">
                <button (click)="changeOption(item.id)"
                        [class.add]="!articleIsRecommended(item)">
                    {{articleIsRecommended(item)? '取消推荐': '加入推荐'}}
                </button>
            </div>
        </li>
    </ul>
    <div class="alert-recommend" [hidden]="!showAlert">
        <div class="alert-recommend-filter">
            <input type="text" placeholder="输入文章名以筛选" #searchInput (keyup)="search(searchInput.value)">
            <span (click)="showAlert=false">取消/关闭</span>
        </div>
        <ul class="recommend-list alert">
            <li *ngFor="let item of list | async">
                <div class="detail">
                    <h3>{{item.title}}</h3>
                    <p>{{item.authorName}} {{item.createdAt | amDateFormat:'LL'}}</p>
                </div>
                <div class="delete">
                    <button (click)="changeOption(item)"
                            [class.add]="!articleIsRecommended(item)">
                        {{articleIsRecommended(item)? '取消推荐': '加入推荐'}}
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>