<!--<md-list>-->
    <!--<md-list-item *ngFor="let menuTitle of menuTitles">-->
        <!--<button md-button>-->
        <!--<h3 md-line>-->
           <!---->
        <!--</h3>-->

        <!--<p md-line>-->
            <!--<span>  </span>-->
        <!--</p>-->
        <!--</button>-->
    <!--</md-list-item>-->
<!--</md-list>-->

<ul>
    <h3 md-subheader>Folders</h3>

    <li *ngFor="let menuTitle of menuTitles">
        <button md-button class="menu-button">
            <h3 md-line>
                {{menuTitle.name}}
            </h3>

            <p md-line>
            <span> {{menuTitle.number}} </span>
            </p>

        </button>
    </li>
</ul>
