.menu-content {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	overflow: hidden;
	z-index: 5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-image: linear-gradient(-135deg, rgba(62, 65, 78, 0.42) 0%, #75777C 100%);
	}
	>.bg-video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		video {
			transform: scale(1.05, 1.05);
			left: 0;
			right: 0;
			height: 100%;
			bottom: 0;
			top: 0;
			visibility: visible;
			opacity: 1;
		}

	}
	>.bg {
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: 0;
		background-position: 0% 0%;
		background-size: cover;
		-webkit-filter: blur(6px);
		-ms-filter: blur(6px);
		filter: url(#blur);
		user-select: none;
		cursor: default;
	}
	.photo {
		width: 100%;
		height: auto;
		padding-top: 50px;
		text-align: center;
		cursor: pointer;
		position: relative;
		z-index: 20;
		img {
			width: 70px;
			border-radius: 50%;
			margin: 10px auto;
			display: block;
			border: 2px solid #fff;
		}
		span {
			padding: 2px 15px;
			background: rgba(255,255,255,.6);
			font-size: 21px;
			color: #010101;
			transition: all .3s;
			border-radius: 2px;
			font-family: "futura-pt",sans-serif;
			position: relative;
			top: 12px;
		}
	}
	.menu {
		width: 85%;
		height: auto;
		overflow: hidden;
		margin:0 auto;
		position: relative;
		top: 40px;
		z-index: 20;
		> li{
			width: 22%;
			margin: 0 1%;
			height: auto;
			line-height: 25px;
			font-size: 14px;
			text-align: center;
			float: left;
			background: transparent;
			color: #E0E0E2;
			cursor: pointer;
			transition: all .3s;
			font-family: "futura-pt",sans-serif;
			a {
				color: inherit;
				text-decoration: none;
			}
			&:hover {
				border: 1px solid rgba(255,255,255,.75);
				color: rgba(255,255,255,.85);
			}
		}
	}
}

.menu-content > img {
	width: 100%;
	height: 100%;
}
.session {
	position: absolute;
	bottom: 10px;
	width: 260px;
	left: 50%;
	margin-left: -130px;
	z-index: 20;
	button {
		padding: 0;
		background: transparent;
		text-align: center;
		line-height: 12px;
		margin: 5px auto;
		font-size: 14px;
		transition: all .2s;
		color: #E0E0E2;
		font-family: "futura-pt",sans-serif;
		border: none;
		&:active, &:focus {
			outline: none;
		}
		&:hover {
			color: #4094C7;
		}
	}
}

.back-box {
	position: absolute;
	right: 5px;
	top: 10px;
	z-index: 20;
}



// mobile
.mobile-menu {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 500;
	overflow: hidden;
	background: #8799A5;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
	font-family: "futura-pt",sans-serif;
	.mobile-menu-user {
		width: 50%;
		height: 100%;
		float: left;
		>img {
			width: 44px;
			height: 44px;
			margin: 3px 5px;
			border-radius: 22px;
			float: left;
		}
		>span {
			font-size: 18px;
			color: #010101;
			font-weight: 300;
		}
	}

	.mobile-menu-content {
		width: 50%;
		height: 100%;
		float: right;
		.mobile-menu-content-btn {
			height: 100%;
			width: 75%;
			float: right;
			background: rgba(255,255,255,0.6);
			color: #010101;
			text-align: center;
			&:active, &:focus {
				outline: none;
			}
		}
	}
}
.mobile-menu-content-list {
	width: 100%;
	height: auto;
	position: fixed;
	top: -300px;
	left: 0;
	right: 0;
	background: #8799A5;
	z-index: 450;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	font-family: "futura-pt",sans-serif;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	&.active {
		top: 50px;
	}
	>li {
		width: 100%;
		height: 55px;
		line-height: 55px;
		color: #FFF;
		padding-left: 10%;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

