
<div class="menu-bar">

</div>
<div class="menu-content">
    <img class="bg" src="../../assets/images/default_bg.jpeg" alt="" draggable="false">
    <div class="photo">
        <img src="../../assets/images/default_photo.png" alt="" draggable="false">
        <span>{{user&& user.username? user.username: '游客'}}</span>
    </div>
    <div class="session">
        <button *ngIf="user&& user.id" (click)="logout()">Logout</button>
        <button *ngIf="!user|| !user.id" (click)="goNext('login')">Login</button>
        <button *ngIf="!user|| !user.id" (click)="goNext('register')">Register</button>
    </div>

</div>
