.copyright {
	width: 100%;
	height: auto;
	margin-top: 60px;
	border-top: 1px solid #EFEFEF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 300;
	color: #3E4347;
	letter-spacing: .01em;
	margin-bottom: 25px;
	text-align: center;
	line-height: 2.5;
	p {
		font-size: 13px;
	}
}