.setting {
	width: 700px;
	height: auto;
	margin: 0 auto;
	padding-top: 45px;
	>li {
		width: 46%;
		height: 135px;
		padding-top: 30px;
		background: #eaeaea;
		border-radius: 2px;
		text-align: center;
		margin-bottom: 25px;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: #020202;
		font-family: "futura-pt",sans-serif;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
		&:nth-child(2n) {
			float: right;
		}
		&:nth-child(2n + 1) {
			float: left;
		}
		&:hover {
			background: #75abd2;
		}
		span {
			font-size: 22px;
			line-height: 2;
			font-weight: 300;
			color: inherit;
			&:before {
				content: '/  *  ';
				color: #3d596d;
			}
			&:after {
				content: '  *  /';
				color: #3d596d;
			}
		}
		p {
			font-size: 15px;
			color: inherit;
		}
	}
}