@import "../assets/sass/variables";
// 主页相关样式
//

.app-body {
	height: 100%;
	flex: 1;
	display: flex;
	flex-flow: row;
	>.app-list {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 350px;
		height: 100%;
		z-index: 10;
	}
	>.app-content {
		flex: 1;
		overflow-x: hidden;
		height: 100%;
		margin-left: 350px;
		background: #FCFCFC;
	}
}




// mobile


.mobile-body {
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	flex-flow: row;
	>.mobile-list {

	}
	>.mobile-content {
		flex: 1;
		overflow-x: hidden;
		height: 100%;
		background: #FCFCFC;
		padding-top: 50px;
	}
}