@import "../assets/sass/variables";
// 主页相关样式
//

.app-body {
	height: 100%;
	flex: 1;
	display: flex;
	flex-flow: row;
	>.app-list {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 300px;
	}
	>.app-content {
		flex: 1;
		padding-left: 300px;
		overflow-x: hidden;
		height: 100%;
		background: #F5F5F5;
	}
}

