<app-breadcrumb></app-breadcrumb>
<div class="article-list-box">
    <ul class="article-list">
        <li *ngFor="let item of list">
            <h2><a routerLink="/articles/{{item.id}}">{{item.title}}</a></h2>
            <div class="mark">
                <p>views:<span>{{item.readTotal? item.readTotal: 1}}</span></p>
                <p>comments:<span>{{item.commentTotal? item.commentTotal: '0'}}</span></p>
                <p>Last updated:<span >{{item.createdAt | amTimeAgo:true}}</span></p>
            </div>
        </li>
    </ul>
</div>
