@import "../../assets/sass/variables";

ul.article-list{
	width: 100%;
	height: auto;
	padding: 2rem 0 0 1.3rem;
	>li{
		@extend %auto;
		position: relative;
		margin-top: 1.3rem;
		overflow: hidden;
		border-bottom: 2px solid #f0f0f0;
		&:first-child {
			margin-top: 0;
		}
		>h2{
			@include fontc(1.3rem,#555555,2rem);
			font-weight: 600;
			cursor: pointer;
			a{
				color: inherit;
			}
		}
		.mark {
		}
		p{
			@include fontc(12px, #717171, 22px);
			display: block;
			float: left;
			min-width: 80px;
		}
	}
}
.mark{
	width: auto;
	margin-top: -0.3rem;
	p{
		@include fontc(.75rem,#717171);
		display: inline;
		margin-right: 0.5rem;
		>span{
			padding-left: .3rem;
		}
	}
}


