<div class="article-title"
     *ngIf="detail&& detail.id"
     [style.background-image]="detail.thumbnail&& ('url(' + detail.thumbnail + ')' | safeStyle)"
     [class.image]="detail.thumbnail"
>
    <!--<img *ngIf="detail.thumbnail" [src]="detail.thumbnail" alt="" class="article-title-bg">-->
    <a href="" class="photo">
        <img [src]="detail.avatar? detail.avatar: 'http://static.wittsay.cc/default_photo.png'" alt="" >
        <div class="hide"></div>
    </a>
    <div class="title" id="title" [class.image]="detail.thumbnail">
        <h2>{{detail.title}}</h2>
        <p >
            <span>{{detail.authorName}}</span> -
            <span>{{detail.createdAt | amDateFormat:'LL'}}</span> -
            <span>{{detail.readTotal}} viewed</span>
        </p>
    </div>
</div>
<div class="article-detail" *ngIf="detail&& detail.id">
    <div class="article-detail-content">
        <app-showdown html="{{detail.content}}"></app-showdown>
    </div>
    <div class="copyright">
        <h2>版权声明</h2>
        <p>本文版权属于 <a href="http://wittsay.cc/" target="_blank">维特博客</a>，作者为 {{detail.authorName}}，本文仅用于学习、研究和交流目的，欢迎非商业转载。转载
            请务必注明出处、作者及完整链接。
            </p>
    </div>

    <div class="comment">
        <div class="line">
            {{comment&& comment.length > 0? comment.length: '暂无'}} 评论
        </div>
        <ul class="comment-list" *ngIf="comment&& comment.length">
            <li *ngFor="let c of comment" id="{{c.id}}">
                <img src="http://static.wittsay.cc/default_photo.png" alt="" draggable="false">
                <div class="right">
                    <div class="name">
                        <p>{{c.authorName}}</p>
                        <span>{{c.createdAt | amDateFormat:'LL'}}</span>
                    </div>
                    <div class="content">

                        {{c.content}}
                    </div>
                </div>
            </li>
        </ul>
        <div class="empty" *ngIf="!comment|| !comment.length >0">
            暂时还未有评论
        </div>
    </div>

    <div class="editor" id="editor" *ngIf="!submitBoxHide">
        <app-mdeditor [text]="field" (mdChange)="mdChange($event)"></app-mdeditor>
        <span class="submit" (click)="createComment()" [class.active]="mdValue.length > 5">提交回复</span>
        <div class="submit-loading" *ngIf="submitLoadingShow">
            <div class="cssload-wrench"></div>
        </div>
    </div>
    <div class="editor-empty" *ngIf="submitBoxHide">
        <p>已提交评论。</p>
        <span>我们希望每一次评论都是深思熟虑的，所以对连续评论作出了一些限制。</span>
    </div>
</div>
