@import "../../../assets/sass/variables";


.article-detail {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	background: #FFF;
}

.article-title {
	width: 100%;
	height: 220px;
	border-bottom: 1px solid #EEE;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	position: relative;
	background: #EBEBEB;
	text-align: center;
	background-size: cover;
	&.image {
		height: 300px;
		background-position: center center;
	}
	a.photo {
		width: 66px;
		height: 66px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -33px;
		margin-bottom: -33px;
		border-radius: 33px 33px 0 0;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 3px solid #FCFCFC;
		}
	}
	.title {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		&.image {
			h2 {
				display: inline-block;
				padding: 10px 15px;
				background: rgba(255, 255, 255, 0.75);
				border-radius: 2px;
				margin-bottom: 5px;
				line-height: 1.5;
			}
			p {
				background-color: rgba(255, 255, 255, 0.7);
				display: table;
				margin: 0 auto;
				padding: 0 15px;
				border-radius: 2px;
			}
		}
		h2 {
			font-weight: normal;
			font-size: 24px;
			line-height: 2.2;
			&.image {
				background-color: rgba(255, 255, 255, 0.51);
				display: inline-block;
				padding: 0 15px;
			}
		}
		span {
			font-weight: 300;
			color: #1c1e1f;
			font-size: 13px;
		}

	}
}


.article-detail-content {
	@extend %auto;
	min-height: 100px;
	background-color: #fff;
	padding:  10px 15px;
	margin-bottom: 20px;
	.article-detail-tag {
		width: 100%;
		height: auto;
		margin: 20px auto;
		padding-bottom: 25px;
		text-align: center;
		>span {
			padding: 5px 12px;
			display: inline-block;
			background: rgba(255, 255, 255, 0.75);
			color: #86acd8;
			font-size: 15px;
			border: 1px solid #86acd8;
			border-radius: 2px;
			margin: 0 8px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			&:hover {
				background: #86acd8;
				border: 1px solid #fff;
				color: #fff;
			}
		}
	}
}
.copyright {
	width: 95%;
	margin: 40px auto;
	padding: 12px 18px;
	background: #EFEFEF;
	border-radius: 3px;
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 30px;
	}
	p {
		font-size: 16px;
		font-weight: normal;
	}
	a {
		color: #4094C7;
		text-decoration: none;
	}
}
.editor {
	@extend %auto;
	padding: .4rem 0;
	margin-top: 100px;
	margin-bottom: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	.submit {
		background: #EEE;
		padding: 6px 15px;
		border-radius: 2px;
		margin: 10px 0;
		font-size: 18px;
		color: #4094C7;
		display: inline-block;
		font-family: "futura-pt",sans-serif;
		cursor: pointer;
		transition: all, .2s;
		&:hover {
			background: #4094C7;
			color: #FFF;
		}
	}
	.submit-loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		background: rgba(119, 119, 119, 0.8);
	}
}
.editor-empty {
	@extend %auto;
	margin-top: 100px;
	margin-bottom: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "futura-pt",sans-serif;
	p {
		font-size: 18px;
	}
	span {
		font-size: 12px;
		color: #ccc;
	}
}
.comment {
	@extend %auto;
	margin-top: 100px;
	.comment-bar {
		height: 1.9rem;
		background-color: #F7F7F7;
		padding-left: 1rem;
		@include fontc(.85rem, #555, 1.9rem);
		border-bottom: 1px solid #EEE;
	}
	.line {
		font-family: "futura-pt",sans-serif;
		@extend %auto;
		font-size: 25px;
		line-height: 1.5;
		border-bottom: 1px solid #EEE;
		padding-left: 5px;
		margin: 10px auto;
		span {
			color: #4094C7;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
	}
	.empty {
		font-size: 17px;
		text-align: center;
		padding: 40px 0;
		font-family: "futura-pt",sans-serif;
	}
}
.comment-list {
	@extend %auto;
	>li {
		padding: 5px 0;
		position: relative;
		min-height:70px;
		background: #fff;
		&:last-child {
			&:after {
				display: none;
			}
		}
		&:after {
			position: absolute;
			left: 5px;
			right: 5px;
			content: '';
			bottom: 0.5px;
			height: 1px;
			background: #eee;
			z-index: 5;
		}
		>img {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			float: left;
			margin: 5px 10px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
		>.right {
			width: 100%;
			padding-left: 70px;
			padding-top: 6px;
			padding-bottom: 10px;
			.name {
				color: #4094C7;
				font-size: 16px;
				line-height: 1.3;
				cursor: pointer;
				span {
					color: #ccc;
					font-size: 13px;
					display: block;
					line-height: 1;
					transform: skewX(-10deg);
				}
			}
			>.content {
				word-wrap: break-word;
				word-break: normal;
				padding-right:5px;
				padding-top: 10px;
				line-height: 16px;
				font-size: 15px;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
				font-weight: 300;
				color: #060708;
				letter-spacing: .01em;
			}
		}
	}
}
.article-back {
	margin-top: 10px;
	margin-left: 10px;

}

.cssload-wrench {
	background: rgb(142, 142, 142);
	color: rgb(0,0,0);
	font: 16px "Helvetica Neue", sans-serif;
	line-height: 97px;
	margin: 97px auto;
	text-align: center;
	position: relative;
	width: 100%;
	display: block;
	height: 14px;
	position: relative;
	width: 14px;
}
.cssload-wrench::before, .cssload-wrench::after {
	position: absolute;
	font-smoothing: none;
	-o-font-smoothing: none;
	-ms-font-smoothing: none;
	-webkit-font-smoothing: none;
	-moz-font-smoothing: none;
}
.cssload-wrench::before {
	animation: cssload-spin 1.15s linear infinite;
	-o-animation: cssload-spin 1.15s linear infinite;
	-ms-animation: cssload-spin 1.15s linear infinite;
	-webkit-animation: cssload-spin 1.15s linear infinite;
	-moz-animation: cssload-spin 1.15s linear infinite;
	box-shadow: 0 0 0 1px rgb(0,0,0);
	color: rgb(142, 142, 142);
	content: "+";
	font-size: 103px;
	height: 25px;
	line-height: 0;
	left: 0;
	top: 0;
	text-indent: -17px;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	width: 25px;
}
.cssload-wrench::after {
	content: "";
	background: rgb(0,0,0);
	height: 14px;
	width: 14px;
	position: absolute;
	top: 6px;
	left: 6px;
}

@keyframes cssload-spin {
	0% {
		transform: scale(1) rotate(0deg) translateZ(0);
	}
	10%, 20% {
		transform: scale(1.4) rotate(0deg) translateZ(0);
	}
	30%, 45% {
		transform: scale(1.4) rotate(-90deg) translateZ(0);
	}
	55%, 100% {
		transform: scale(1) rotate(-90deg) translateZ(0);
	}
}

@-o-keyframes cssload-spin {
	0% {
		-o-transform: scale(1) rotate(0deg) translateZ(0);
	}
	10%, 20% {
		-o-transform: scale(1.4) rotate(0deg) translateZ(0);
	}
	30%, 45% {
		-o-transform: scale(1.4) rotate(-90deg) translateZ(0);
	}
	55%, 100% {
		-o-transform: scale(1) rotate(-90deg) translateZ(0);
	}
}

@-ms-keyframes cssload-spin {
	0% {
		-ms-transform: scale(1) rotate(0deg) translateZ(0);
	}
	10%, 20% {
		-ms-transform: scale(1.4) rotate(0deg) translateZ(0);
	}
	30%, 45% {
		-ms-transform: scale(1.4) rotate(-90deg) translateZ(0);
	}
	55%, 100% {
		-ms-transform: scale(1) rotate(-90deg) translateZ(0);
	}
}

@-webkit-keyframes cssload-spin {
	0% {
		-webkit-transform: scale(1) rotate(0deg) translateZ(0);
	}
	10%, 20% {
		-webkit-transform: scale(1.4) rotate(0deg) translateZ(0);
	}
	30%, 45% {
		-webkit-transform: scale(1.4) rotate(-90deg) translateZ(0);
	}
	55%, 100% {
		-webkit-transform: scale(1) rotate(-90deg) translateZ(0);
	}
}

@-moz-keyframes cssload-spin {
	0% {
		-moz-transform: scale(1) rotate(0deg) translateZ(0);
	}
	10%, 20% {
		-moz-transform: scale(1.4) rotate(0deg) translateZ(0);
	}
	30%, 45% {
		-moz-transform: scale(1.4) rotate(-90deg) translateZ(0);
	}
	55%, 100% {
		-moz-transform: scale(1) rotate(-90deg) translateZ(0);
	}
}