<!--<app-breadcrumb></app-breadcrumb>-->
<div class="article-detail" *ngIf="detail&& detail.id">
    <div class="article-detail-title">
        <img [src]="detail.avatar? detail.avatar: 'http://static.wittsay.cc/default_photo.png'" alt="" class="photo">
        <div class="title">
            <h2>{{detail.title}}</h2>
            <p>
                <span>{{detail.authorName}}</span> -
                <span>{{detail.createdAt | amDateFormat:'LL'}}</span> -
                <span>{{detail.readTotal}} viewed</span>
            </p>
        </div>
        <!--<h2>测试测试</h2>-->
        <!--<p>-->
            <!--来自:<span class="author">{{detail.authorName}}</span>-->
            <!--<span class="date">{{detail.createdAt | amDateFormat:'LL'}}</span>-->
            <!--<span class="date">标签: 生活</span>-->
           <!--&lt;!&ndash;<span class="read box">{{detail.readTotal}} viewed &nbsp;&nbsp;&nbsp;{{detail.commentTotal}} Comments</span>&ndash;&gt;-->
        <!--</p>-->
        <!--<ul class="tag">-->
            <!--<li *ngFor="let tag of detail.tags">{{tag}}</li>-->
        <!--</ul>-->
    </div>

    <div class="article-detail-content">
        <app-showdown html="{{detail.content}}"></app-showdown>
    </div>

    <div class="comment">
        <div class="line">
            评论
        </div>
        <ul class="comment-list" *ngIf="comment&& comment.length">
            <li *ngFor="let c of comment" >
                <img src="http://static.wittsay.cc/default_photo.png" alt="" draggable="false">
                <div class="right">
                    <div class="name">
                        <p>{{c.authorName}}</p>
                    </div>
                    <div class="content">

                        {{c.content}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="editor">
        <div class="editor-box">
            <div class="title">
                <p><span (click)="createComment()" [class.active]="mdValue.length > 5">提交</span>一段回复</p>
            </div>
            <div class="md">
                <app-mdeditor [text]="field" (mdChange)="mdChange($event)"></app-mdeditor>
            </div>
        </div>

    </div>
</div>
