@import "../../assets/sass/variables";


.article-detail {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 40px 0 40px;
	background: #FFF;
}

.article-detail-title {
	@extend %auto;
	border-bottom: 1px solid #EEE;
	margin-bottom: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	position: relative;
	img.photo {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -24px;
	}
	.title {
		margin-left: 55px;
		padding: 10px 0;
		h2 {
			font-weight: normal;
			font-size: 24px;
			line-height: 1;
		}
		span {
			font-weight: 300;
			color: #373a3c;
			font-size: 13px;
		}
	}
}

.article-detail-content {
	@extend %auto;
	min-height: 100px;
	background-color: #fff;
	padding:  10px 15px;
	margin: 50px 0;
}

.editor {
	@extend %auto;
	padding: .4rem 0;
	margin-top: 20px;
	.editor-box {
		@extend %auto;
		.title {
			width: 100%;
			height: 35px;
			border:1px solid #DDDDDD;
			border-bottom: none;
			color: #3D596D;
			line-height: 35px;
			padding-left: 10px;
			font-size: 13px;
			overflow: hidden;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			span {
				padding: 5px 10px;
				cursor: no-drop;
				border:1px solid #eee;
				margin-right: 4px;
				border-radius: 3px;
				background-color: #F5F5F5;
				color: #A2A2A2;
				&.active {
					background-color: #8AD768;
					color: #fff;
					cursor: pointer;
				}
			}
		}
		.md {
			height: 200px;
		}
	}
}
.comment {
	@extend %auto;
	.comment-bar {
		height: 1.9rem;
		background-color: #F7F7F7;
		padding-left: 1rem;
		@include fontc(.85rem, #555, 1.9rem);
		border-bottom: 1px solid #EEE;
	}
	.line {
		font-family: "futura-pt",sans-serif;
		@extend %auto;
		font-size: 25px;
		line-height: 1.5;
		border-bottom: 1px solid #ccc;
		padding-left: 5px;
		margin: 10px auto;
	}
}
.comment-list {
	@extend %auto;
	>li {
		padding: 5px 5px;
		position: relative;
		min-height:70px;
		background: #fff;
		&:last-child {
			&:after {
				display: none;
			}
		}
		&:after {
			position: absolute;
			left: 20px;
			right: 20px;
			content: '';
			bottom: 0.5px;
			height: 1px;
			background: #eee;
			z-index: 5;
		}
		>img {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 50px;
			border-radius: 50%;
			float: left;
			margin: 5px;
			min-height: 50px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
		>.right {
			width: 100%;
			padding-left: 70px;
			.name {
				color: #778087;
				font-size: 15px;
				line-height: 30px;
				cursor: pointer;
			}
			>.content {
				word-wrap: break-word;
				word-break: normal;
				padding-right:5px;
				padding-bottom: 3px;
			}
		}
	}
}
.article-back {
	margin-top: 10px;
	margin-left: 10px;

}
