<div class="article-detail" *ngIf="detail&& detail.id">
    <div class="article-detail-title">
        <h2>测试测试</h2>
        <p>
            from <span class="author">{{detail.authorName}}</span>
            <span class="date">{{detail.createdAt | amDateFormat:'LL'}}</span>
           <span class="read box">{{detail.readTotal}} viewed &nbsp;&nbsp;&nbsp;{{detail.commentTotal}} Comments</span>
        </p>
    </div>

    <div class="article-detail-content">
        <div class="content-box">
            <div class="content-bar">
               {{detail.content.length}}byte
            </div>
            <div class="content-show">
                {{detail.content}}
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-box">
            <div class="comment-bar">
                0 Comments
            </div>
            <ul class="comment-list">
                <li>
                    <img src="../../assets/images/default_photo.png" alt="" >
                    <div class="right">
                        <div class="name">
                            <p>维特</p>
                        </div>
                        <div class="content">
                            yiduashdbqwebqbweiqbwiu
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../assets/images/default_photo.png" alt="" >
                    <div class="right">
                        <div class="name">
                            <p>维特</p>
                        </div>
                        <div class="content">
                            yiduashdbqwebyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuyiduashdbqwebqbweiqbwiuqbweiqbwiu
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="editor">
        <div class="editor-box">
            <div class="title">
                <p><span (click)="createComment()" [class.active]="mdValue.length > 5">提交</span>一段回复</p>
            </div>
            <div class="md">
                <app-mdeditor [text]="field" (mdChange)="mdChange($event)"></app-mdeditor>
            </div>
        </div>

    </div>
</div>
