@import "../../assets/sass/variables";


.article-detail {
	width: 900px;
	margin:0 auto;
	background-color: #fff;
	padding-top: 1.5rem;
}

.article-detail-title {
	@extend %auto;
	padding-bottom: .5rem;
	border-bottom: 1px solid #EEE;
	margin-bottom: 5px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	>h2 {
		@include fontc(2rem, #555, 1.5);
	}
	>p {
		@include fontc(.9rem, #3D596D);
		>span {
			padding-right: .7rem;
		}
		span.box {
			background: #3D596D;
			padding: 0 6px;
			color: #fff;
		}
	}
	.author {
		color: #4094c7;
	}
}

.article-detail-content {
	@extend %auto;
	padding: .6rem 0;
	>.content-box {
		@extend %auto;
		border: 1px solid #EEE;
		border-radius: 5px;

		>.content-bar {
			height: 1.9rem;
			background-color: #F7F7F7;
			padding-left: 1rem;
			@include fontc(.85rem, #555, 1.9rem);
			border-bottom: 1px solid #EEE;
		}
		>.content-show {
			@extend %auto;
			min-height: 100px;
			background-color: #fff;
			padding:  .5rem 1.5rem;
		}
	}
}

.editor {
	@extend %auto;
	padding: .4rem 0;
	margin-top: 20px;
	.editor-box {
		@extend %auto;
		.title {
			width: 100%;
			height: 35px;
			border:1px solid #DDDDDD;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom: none;
			color: #3D596D;
			line-height: 35px;
			padding-left: 10px;
			font-size: 13px;
			overflow: hidden;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			span {
				padding: 5px 10px;
				cursor: no-drop;
				border:1px solid #eee;
				margin-right: 4px;
				border-radius: 3px;
				background-color: #F5F5F5;
				color: #A2A2A2;
				&.active {
					background-color: #8AD768;
					color: #fff;
					cursor: pointer;
				}
			}
		}
		.md {
			height: 200px;
		}
	}
}
.comment {
	@extend %auto;
	padding: .4rem 0;
	.comment-box {
		@extend %auto;
		border: 1px solid #EEE;
		border-radius: 5px;
		.comment-bar {
			height: 1.9rem;
			background-color: #F7F7F7;
			padding-left: 1rem;
			@include fontc(.85rem, #555, 1.9rem);
			border-bottom: 1px solid #EEE;
		}
	}
}
.comment-list {
	@extend %auto;
	>li {
		padding: 5px 5px;
		overflow: hidden;
		border-bottom: 1px solid #CCCCCC;
		position: relative;
		min-height:70px;
		&:last-child {
			border: none;
		}
		>img {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 50px;
			border-radius: 50%;
			float: left;
			margin: 5px;
			min-height: 50px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
		>.right {
			width: 100%;
			padding-left: 70px;
			.name {
				color: #778087;
				font-size: 15px;
				line-height: 30px;
				cursor: pointer;
			}
			>.content {
				word-wrap: break-word;
				word-break: normal;
				padding-right:5px;
				padding-bottom: 3px;
			}
		}
	}
}
.article-back {
	margin-top: 10px;
	margin-left: 10px;

}
