ul.article-list{
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	>li {
		width: 100%;
		height: 185px;
		border-bottom: 1px solid #E6E6E6;
		padding: 15px 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
		position: relative;
		&:last-child {
			border-bottom: none;
		}

		.profiles {
			width: 65%;
			height: 100%;
			float: left;
			position: relative;
			padding-right: 12px;
			h3 {
				font-size: 24px;
				font-weight: normal;
				line-height: 30px;
				color: #333;
				margin-bottom: 15px;
				cursor: pointer;
			}
			p {
				font-size: 16px;

			}
			.additional {
				position: absolute;
				padding-right: 12px;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				overflow: hidden;
				color: #9ba9b5;
				p.author {
					float: left;
					font-size: 15px;
				}
				p.views {
					float: right;
					font-size: 15px;
				}
			}
		}
		.check {
			width: 35%;
			height: 100%;
			float: right;
			font-family: "futura-pt",sans-serif;
			.status {
				width: 100%;
				height: 50%;
				text-align: center;
				padding-left: 15px;
				font-size: 20px;
				line-height: 75px;
				position: relative;
				.status-button {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					background: #adaaaa;
					overflow: hidden;
					button {
						width: 33.3333%;
						height: 100%;
						background: #adaaaa;
						color: #FFF;
						border: none;
						border-radius: 0;
						font-size: 21px;
						float: left;
						-webkit-transition: all 0.2s;
						-moz-transition: all 0.2s;
						-o-transition: all 0.2s;
						transition: all 0.2s;
						&:hover {
							background: #666;
						}
						&:focus, &:active {
							outline: none;
						}
					}
				}
			}
			.control {
				width: 100%;
				height: 50%;
				text-align: center;
				button {
					background: #adaaaa;
					color: #FFF;
					width: 100%;
					height: 100%;
					border: none;
					border-radius: 0;
					font-size: 24px;
					-webkit-transition: all 0.2s;
					-moz-transition: all 0.2s;
					-o-transition: all 0.2s;
					transition: all 0.2s;
					&:hover {
						background: #666;
					}
					&:focus, &:active {
						outline: none;
					}
				}
			}
		}
	}
}
.bar {
	width: 250px;
	height: 35px;
	background: transparent;
	border: 1px solid #eee;
	border-radius: 2px;
	margin: 10px auto;
	font-family: "futura-pt",sans-serif;
	button {
		width: 33.3333%;
		float: left;
		border: none;
		border-radius: 0;
		background: transparent;
		font-size: 14px;
		line-height: 35px;
		text-align: center;
		padding: 0;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		&:focus, &:active {
			outline: none;
		}
		&:hover {
			background: #ccc;
		}
		&.active {
			background: #3D596D;
			color: #FFF;
		}
	}
}

