@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-cyan);
$accent: md-palette($md-amber);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.dark-theme {
	$dark-p: md-palette($md-pink, 700);
	$dark-a: md-palette($md-blue-grey);

	$dark-t: md-dark-theme($dark-p, $dark-a);

	@include angular-material-theme($dark-t);
}

// 主页相关样式
//

.app-body {
	height: 100%;
	flex: 1;
	display: flex;
	flex-flow: row;
	>.app-list {
		width: 260px;
		background-color: #ccc;
	}
	>.app-content {
		flex: 1;
	}
}