/* You can add global styles to this file, and also import other style files */

/*@import '~https://fonts.googleapis.com/icon?family=Material+Icons';*/
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url("./assets/fonts/material.woff2") format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}


body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

md-toolbar-row {
	justify-content: space-between;
}

p {
	margin: 16px;
}

[md-raised-button] {
	width: 100%;
}

md-grid-list {
	max-width: 1403px;
	margin: 16px;
}

md-sidenav-layout {
	height: 100vh;
}


md-sidenav {
	width: 320px;
}

.icon-20 {
	font-size: 20px;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

