<div class="search">
    <div class="search-input-box">
        <div class="mobile-tips" *xs>使用电脑访问页面可获得最佳体验！</div>
        <input type="text" #searchInput placeholder="KeyWord" (keyup)="search(searchInput.value)">
        <p class="search-tips">
            键入关键字以查找文章
        </p>
    </div>
    <ul class="search-list">
        <li *ngFor="let item of list | async" (click)="goNext(item.id)">
            <h3>{{item.title}}</h3>
            <p>发布于 {{item.createdAt | amDateFormat:'LL'}}  {{item.readTotal}}views</p>
            <p>来自 {{item.authorName}}</p>
        </li>
    </ul>
</div>