$titleHeight: -27px;
$titleLeft: 30px;
$titleFontSize: 50px;

.content {
	position: fixed;
	left: 336px;
	top: 44px;
	width: 100%;
	height: 100%;
	font-family: "futura-pt",sans-serif;
	.title-top {
		position: absolute;
		top: $titleHeight;
		left: $titleLeft;
		z-index: 2;
		font-size: $titleFontSize;
		background: #404040;
		color: #fff;
		padding: 0 20px;
		transform: skewX(-7deg);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.itellu {
		position: relative;
		overflow: hidden;
		z-index: 10;
		h2.title-bottom {
			position: absolute;
			top: $titleHeight;
			left: $titleLeft;
			font-size: $titleFontSize;
			background: #fff;
			color: #404040;
			padding: 0 20px;
			transform: skewX(-7deg);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.text {
			margin-top: 110px;
			margin-left: 24px;
			span {
				font-size: 16px;
				display: table;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin-top: 18px;
				color: #404040;
				background: #fff;
				padding: 2px 14px 2px 8px;
				transform: skewX(-7deg);
				a {
					color: #4094C7;
					text-decoration: none;
				}
			}
		}
	}

	.bg {
		width: auto;
		height: auto;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 100px;
		z-index: 5;
		img {
			width: 100%;
			height: 100%;
		}
	}

}