<div class="content" *hideItBootstrap="['xs']">
    <div class="recommended">
        <h2>今日精选</h2>
        <ul *ngIf="option&& option.recommended">
            <li *ngFor="let item of option.recommended">
                <h3><a routerLink="/articles/list/{{item.id}}">{{item.title}}</a></h3>
                <p>{{item.readTotal}}views / {{item.commentTotal}}comment</p>
                <p>-- {{item.authorName}}</p>
            </li>
        </ul>
    </div>
    <div class="welcome" *ngIf="option">
        <h1>{{option.blogName?option.blogName: '新博客'}}</h1>
        <p>{{option.blogSubhead}}</p>
    </div>
</div>

<div class="mobile-home" *xs>
    <div class="mobile-home-title" *ngIf="option">
        <h1>{{option.blogName?option.blogName: '新博客'}} <span>今日推荐</span></h1>
        <p>{{option.blogSubhead}}</p>
    </div>
    <ul class="mobile-home-list" *ngIf="option&& option.recommended">
        <li *ngFor="let item of option.recommended">
            <h3><a routerLink="/articles/list/{{item.id}}">{{item.title}}</a></h3>
            <p>{{item.readTotal}}views / {{item.commentTotal}}comment</p>
            <p>-- {{item.authorName}}</p>
        </li>
    </ul>
    <div class="mobile-home-tips">
        <p>使用电脑访问可获得最佳体验!</p>
    </div>
</div>

